; Configuration file for Trucaption

; This can be set to "browser", "azure", or "speechly".
; If using azure or speechly, also configure the appropriate API settings
# api = browser

; Sets default font size for interface
# font_size = 20

; Limit number of lines shown in the browser
; This can be helpful for performance if captions will be run for a long time
# max_lines = -1

; Clear the temporary captions when captions are stopped.
# clear_temp_on_stop = false

; Change port for controller or client page
# controller_port = 8080
# client_port = 80

; Azure API settings

; Obtain these values from the Azure portal.
# azure_subscription_key = 
# azure_region = 

; Endpoint ID for Azure custom speech endpoints
; Make sure that azure_subscription_key is set to the resource key for the
; endpoint if custom speech is being used.
# azure_endpoint_id =

; Speechly API settings

# speechly_app = 

